/* Manager Home View Styling */
.header {
    background-color: rgb(247, 229, 206);
    text-align: center;
    width: 50%;
    margin-left: 30%;
}
.headerButton {
    justify-self: center;
    margin: auto 1em;
    align-self: auto;
    display:flex; 
    flex-direction: column;
    
}

.managerNavBar {
    position: fixed;
    left: 0px;
    top: 0px;
    display:flex; 
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 0px 20px rgba(70, 66, 66, 0.76);
    background-color: rgba(69, 122, 145, 0.886);
    z-index: 3;
    padding-right: 10px;
    padding-left: 10px;
    width: 280px;
}

.navBtn {

    color: #f7f7f7;
    display: flex;

}

.navBtnClicked {
    color: #f3f3f3;
    display: flex;
}

h2.manager {
    width: 90vw;
    text-align: center;
}

h2.designer {
    width: 20vw;
    text-align: left;
}
/* MANAGER CALENDAR*/

.managerCalendarSection {
    width: 70vw;
    margin-left: 5vw;
}
.designerCalendarSection {
    display: inline-flex;
    height: 300px;
    width: 75vw;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 3%;
}
.managerCalendarWrap{
    width: 60%;
    margin-left: 5%;
}

.designerWeek {
    justify-self: right;
}
.designerInfoBlock {
    width: 20%;
    
}


.managerRegInfo {
    text-align: center;
}

.pageTitle {
    text-align: center;
    height: 50px;
    margin-left: auto;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}
.findDesignerPageWrap{
    height: 800px;
}
.findDesignerWrap{
    width: 70%;
    height: 350px;
    display: inline-flex;
}
.searchColumn-left{
    width: 60%;
}
.titleWrap {
    text-align: center;
    color: white;
}

.contentWrap {
    text-align: center;
    border-radius: 100px;
    max-width: 70%;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 4%;
    transform: scale(0.99, 0.95);
}
.hoursSearchInput{
    padding-top: 30px;
    padding-bottom: 20px;
}
.projectSearchInput{
    padding-top: 10px;
    padding-bottom: 20px;
}
.pageWrapper {
    background-color: rgb(247, 229, 206);
    background-size: 100%;
}
.softwareSearchInput{
    padding-top: 10px;
}

.searchResults{
    display: flex;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.searchBtn{
    margin-top: 55px;

}
.projectsTableWrap{
    height: 600px;
}

.projectsTable{
    height: 100%;
}
.dateInput{
    padding-top: 10px;
    width: 300px;
    padding-bottom: 20px;
}
.searchOptionLabel{
    font-size: 20px;
    width: 300px;
    padding-bottom: 10px;
}

.homeComponentWrapper {
    margin-left: 280px;
    height: 100%;
    padding: 40px;
    margin-top: 30px;
    text-align: center;
    background-image: url('../../images/pencils.jpg');
    background-size: cover;
    background-position: center;
    min-height: 76vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* MANAGER REGISTRATION*/
.registrationElements{
    margin-top: 10%;

}
.registrationElements{
    background-color: rgba(255, 255, 255, 0.986);
    width: 40%;
    margin-left: auto;
    color: rgb(255, 255, 255);
    border-radius: 2%;
    margin-right: auto;
    text-align: left;
}
.registerForm{
    border-radius: 2%;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.registrationTitle{
    text-align: center;
    padding: 2%;
    color: black;
}
.registerBTN{
    width: 80px;
    margin-left: auto;
    text-align: center;
}

.loginOption{
    color: black;
    height: 40px;
    text-align: center;
}
.registerInput{
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}
.registerWrap{
    margin-top: 5%;
}

/* MY DESIGNERS */
.teamDesignersWrap{
    width: 70%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    height: 350px;
}

.myDesignerInfo{
    height: 900px;
}
.contractDesignerWrap{
    overflow-y: scroll;
    height: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}