/* Manager Home View Styling */
.topSection {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.accountButton {
    align-self: end;
}

.managerNavBar {
    display: inline-flex;
}

.navBtn {
    display: flex;
    height: 3vh;
    margin: 1.5vh .5vh;
}

.navBtnClicked {
    display: flex;
    height: 3vh;
    margin: 1em .25em;
    background: radial-gradient(rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%);
    border-left: .25em solid rgba(255, 255, 255, 0.5);
    border-right: .25em solid rgba(255, 255, 255, 0.5);
}

.navBtn:hover {
    display: flex;
    height: 3vh;
    margin: 1.25em .25em;
    background: radial-gradient(rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0) 100%);
}

.navBtnLabel {
    margin: auto .5em;
}

.homeComponentWrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Dashboard Component Styling */
.dashboardSection {
    height: 40vh;
    width: 40vw;
    margin: 2.5vh 2.5vw;
}

/* Calendar Component Styling */
.managerCalendarSection {
    width: 90vw;
    height: 40vh;
}