.skillListWrap{
    display: inline-flex;
    height: 400px;
    overflow-y: scroll;
    width: 300px;
}
.skillWrap{
    padding-left: 15px;
    padding-top: 20px;
    font-size: 15px;
    height: 200px;
    margin-left: auto;
    margin-right: 30%;
    width: 90%;
}
.skillTitleWrap{
    width: 100%;
}
.profileWrap{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.addInfoWrap{
    padding-left: 20px;
    width: 45%;
}